<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create page</title>
</head>
<body>
<h1>Add user </h1>

</tr>
</table>
<br><br>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">

    <label for="firstname">Enter Firstname: </label>
    <input type="text" th:field="*{firstname}" id="firstname" required/>
    <br/>

    <label for="lastname">Enter Lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname" required/>
    <br/>

    <label for="age">Enter Age: </label>
    <input type="text" th:field="*{age}" id="age" required/>
    <br/>

    <label for = "password">"Enter password"</label>
    <input type = "text" th:field = "*{password}", id = password>
    <br/>

    <tr>
        <td>
            <label>Role:

                <select size="2" multiple name="listRoles" required="required">
                    <option selected="selected" value="1">ADMIN</option>
                    <option value="2">USER</option>
                </select>
            </label>
        </td>
    </tr>

    <input type="submit" value="OK"/>
</form>


</body>
</html></body>